body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0 0 50px 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 16px 250px 100px 250px;
    /* TODO: Try to find an alternate method without using so much padding */
    background-color: #1F2937;
    color: #FFF;
}

.header p,
.header li {
    font-size: 18px;
    color: #E5E7EB;
}

.upper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul.links {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lower-header {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.lower-header .card {
    display: flex; 
    flex-direction: column;
    flex: 1;
}

.lower-header button {
    flex: 0 1 auto;
    border: none;
    border-radius: 5px;
    max-width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #FFF;
    font-weight: 800;
}

.lower-header .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #757b85;
}

.information {
    text-align: center;
    padding: 50px 50px 100px 50px;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.card-box .image-placeholder {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 10%;
}

.information .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information .card p {
    width: 200px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 150px 20px;
}

.quote-box {
    width: 45%;
}

.quote-box .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-box .author {
    margin-right: 8%;
    font-weight: 800;
    text-align: right;
}

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.signup-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border-radius: 5px;
    padding: 40px 6%;
    width: 45%;
    background-color: #3882F6;
    color: #FFF;
}

.signup-box button {
    width: 100px;
    height: 32px;
    flex: 0 1 auto;
    background-color: #3882F6;
    border: 2px solid #FFF;
    border-radius: 5px;
    color: #FFF;
}

.signup-box h3,
.signup-box p {
    margin: 0;
}

.signup-box p {
    font-weight: 300;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}